<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2020-03-08-lecture2.md</key>
			<dict>
				<key>lastModification</key>
				<real>616842938.61181605</real>
				<key>version</key>
				<dict>
					<key>bacf6edb2ac24d5cc332a3173ea1979914b1c77d979941baef4dd9e179986183</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2020-03-10-lecture3.md</key>
			<dict>
				<key>lastModification</key>
				<real>616842938.61181605</real>
				<key>version</key>
				<dict>
					<key>bacf6edb2ac24d5cc332a3173ea1979914b1c77d979941baef4dd9e179986183</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2020-03-13-inequalities.md</key>
			<dict>
				<key>lastModification</key>
				<real>616842938.61181605</real>
				<key>version</key>
				<dict>
					<key>bacf6edb2ac24d5cc332a3173ea1979914b1c77d979941baef4dd9e179986183</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2020-03-13-kl_divergence.md</key>
			<dict>
				<key>lastModification</key>
				<real>616842938.611817</real>
				<key>version</key>
				<dict>
					<key>bacf6edb2ac24d5cc332a3173ea1979914b1c77d979941baef4dd9e179986183</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2020-03-21-lecture4.md</key>
			<dict>
				<key>lastModification</key>
				<real>616842938.611817</real>
				<key>version</key>
				<dict>
					<key>bacf6edb2ac24d5cc332a3173ea1979914b1c77d979941baef4dd9e179986183</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2020-03-24-lecture5.md</key>
			<dict>
				<key>lastModification</key>
				<real>616842938.611817</real>
				<key>version</key>
				<dict>
					<key>bacf6edb2ac24d5cc332a3173ea1979914b1c77d979941baef4dd9e179986183</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2020-03-29-lecture6.md</key>
			<dict>
				<key>lastModification</key>
				<real>616842938.61181498</real>
				<key>version</key>
				<dict>
					<key>bacf6edb2ac24d5cc332a3173ea1979914b1c77d979941baef4dd9e179986183</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2020-07-19-lecture1.md</key>
			<dict>
				<key>lastModification</key>
				<real>616842975.80743694</real>
				<key>version</key>
				<dict>
					<key>bacf6edb2ac24d5cc332a3173ea1979914b1c77d979941baef4dd9e179986183</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2020-07-19-lecture1.md</string>
		</array>
		<array>
			<string>2020-03-29-lecture6.md</string>
		</array>
		<array>
			<string>2020-03-08-lecture2.md</string>
		</array>
		<array>
			<string>2020-03-10-lecture3.md</string>
		</array>
		<array>
			<string>2020-03-13-inequalities.md</string>
		</array>
		<array>
			<string>2020-03-13-kl_divergence.md</string>
		</array>
		<array>
			<string>2020-03-21-lecture4.md</string>
		</array>
		<array>
			<string>2020-03-24-lecture5.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>bacf6edb2ac24d5cc332a3173ea1979914b1c77d979941baef4dd9e179986183</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
